@import '../../shared.scss';
@import 'shared.scss';

.main-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: $menuWidth;
    width: calc(100% - #{$menuWidth});
    height: $mainBarHeight;


    &__toolbar {
        display: flex;
    }

    &__btn {
        margin: 5px;
        justify-content: flex-end;
    }
}

.site-title {
    text-transform: capitalize;
    min-width: 160px;
}

@media #{$medium} {
    .main-bar {
        margin-left: 0px;
        width: 100%;
    }
}