.products {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.list {
    list-style-type: none;
    display: flex;
    min-width: 200px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.22);

    &__search-statistics {
        align-self: flex-end;
        padding: 5px;
        margin-right: 5px;
        border-bottom: 1px solid black;
    }
}

