.products {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.list {
    list-style-type: none;
    display: flex;
    min-width: 200px;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.22);

    &__pagination {
        align-self: flex-end;
        margin-right: 5px;
    }

    &__item {
        flex: 1;
        height: 75 px;
        margin: 5px;
        margin-top: 10px;
        padding: 5px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 2px;
        display: inline-block;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
        &:hover {
            font-weight: bold;
        }
    }

    &__search-statistics {
        align-self: flex-end;
        padding: 5px;
        margin-right: 5px;
        border-bottom: 1px solid black;
    }
}

.pagination__button {
    margin: 5px 2px 5px 2px;
}
