.app-menu {
  width: 360px;
  background-color: #5165d4; }
  .app-menu__list {
    width: 360px;
    list-style-type: none;
    background-color: #5165d4;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px; }
  .app-menu__item {
    color: #fff; }
    .app-menu__item--nested {
      padding-left: 50px; }
    .app-menu__item:hover {
      background-color: #ffffff;
      color: #000000; }
  .app-menu__link {
    display: block;
    height: 100%;
    text-transform: uppercase;
    text-decoration: inherit;
    font-size: 14px; }
    .app-menu__link--active {
      font-weight: bold; }
