@import 'shared.scss';

.main-content {
  background-color: #eeeeee;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100% - #{$mainBarHeight});
  margin-top: $mainBarHeight;
}

.app {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
} 